body {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.header {
    background-color: #222222;
    height: 70px;
    margin-bottom: 30px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    max-height: 23px;
}

.header__logo {
    color: ivory;
    align-self: center;
}

.basket-button {
    display: inline-block;
    background: #339DFF;
    color: #fff;
    text-decoration: none;
    line-height: 18px;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 100px;
    text-align: center;
}

.basket {
    position: relative;
}

.basket-block {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 300px;
}

.invisible {
    display: none;
}

.basket-block:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
    border-left: 10px solid;
    border-right: 10px solid;
    border-bottom: 10px solid white;
}


.button-card:hover {
    background: #fff;
    color: #339DFF;
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

.products-list {
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: 1fr;
    padding: 40px 80px;
    justify-content: space-between;
}

p {
    margin: 0 0 5px 0;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    align-content: center;
    max-width: 250px;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto
}


.product-card-img {
    align-self: center;
    max-height: auto;
    max-width: 100%;
}

.product-card-price {
    font-weight: bold;
}

.desc {
    padding: 25px
}

.basket {
    position: relative;
}

.basket-block {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: rgb(255, 249, 249);
    padding: 20px;
    color: black;
    width: 300px;

}

.basket-block:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.del-btn {
    margin-top: 5px;
    background-color: #2f2a2d;
    padding: 5px 15px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.del-btn:hover {
    background-color: #fafafa;
    color: #2f2a2d;
    border: 1px solid #2f2a2d;
}

.basket-item {
    display: flex;
    justify-content: space-between;
}

.basket-item:not(:last-child) {
    margin-bottom: 20px;
}

.product-bio {
    display: flex;
}

.basket-item img {
    align-self: flex-start;
    margin-right: 15px;
}

.product-single-price {
    color: #474747;
    font-size: 0.5em;
}

.product-price {
    margin-left: 30px;
}

.product-desc {
    max-width: 150px;
}

.product-quantity {
    margin-top: 15px;
    font-size: 0.75em;
}

.right-block {
    text-align: right;
}

.button-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    right: 0;
}

.search-form {
    position: relative;
    margin-right: 50px;
    display: inline-block;
}

.search-field:focus {
    outline: none;
}

.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #fafafa;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fafafa;
}

.buy-button {
    cursor: pointer;
    position: relative;
    padding: 1rem 1.5rem;
    border-radius: 1.75rem;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 300;

    border: 1px solid #012880;
    background-image: linear-gradient(-180deg, #FF89D6 0%, #C01F9E 100%);
    box-shadow: 0 1rem 1.25rem 0 rgba(22, 75, 195, 0.50),
        0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
        0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
        0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

.buy-button span {
    color: transparent;
    background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

.buy-button::before {
    content: "";
    display: block;
    height: 0.25rem;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 7.5rem);
    background: #fff;
    border-radius: 100%;
    opacity: 0.7;
    background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
}

.buy-button::after {
    content: "";
    display: block;
    height: 0.25rem;
    position: absolute;
    bottom: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 7.5rem);
    background: #fff;
    border-radius: 100%;

    filter: blur(1px);
    opacity: 0.05;
    background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
}